.order_modal_content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close_button {
  position: absolute;
  top: 40px;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  color: var(--text-primary-color, #f2f2f3);
  font-size: 24px;
  line-height: 1;
  background: none;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.close_button:hover {
  opacity: 0.6;
}

.order_number {
  color: var(--text-primary-color, #f2f2f3);
  letter-spacing: 0;
  text-align: center;
  text-shadow:
    0 0 16px rgb(51 51 255 / 50%),
    0 0 8px rgb(51 51 255 / 50%),
    0 4px 32px rgb(51 51 255 / 50%);
}

.order_label {
  text-align: center;
}

.checkmark_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.order_status {
  text-align: center;
}

.order_hint {
  text-align: center;
}
