.burger_constructor {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding-bottom: 20px;
  color: var(--text-primary-color);
  border: 2px solid transparent;
  border-radius: 16px;
  transition: border-color 0.2s ease;
}

.burger_constructor.hover {
  border-color: var(--colors-interface-accent);
}

.create_order {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  margin-top: 54px;
}

.create_order_price {
  display: flex;
  align-items: center;
  gap: 8px;
}
