.burger_constructor {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  color: var(--text-primary-color);
}

.create_order {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  margin-top: 54px;
}

.create_order_price {
  display: flex;
  align-items: center;
  gap: 8px;
}
