.constructor_elements_list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.scrollable_container {
  flex: 1;
  min-height: 0;
}

.scrollable_list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 340px;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  list-style-type: none;
}

.bun {
  margin-left: 32px;
}

.empty_message {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  margin-right: 16px;
  margin-left: 32px;
  border: 2px dashed var(--colors-interface-accent);
  border-radius: 40px;
}

.bun_placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  margin-right: 16px;
  margin-left: 32px;
  border: 2px dashed var(--colors-interface-accent);
  border-radius: 40px;
}
