.ingredient_card {
  position: relative;
  cursor: pointer;
}

.ingredient_card.dragging {
  opacity: 0.5;
}

.ingredient_price {
  display: flex;
  justify-content: center;
}

.ingredient_image {
  display: flex;
  justify-content: center;
}

.ingredient_name {
  text-align: center;
}
