.login_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 180px;
}

.login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 480px;
}

.input_wrapper {
  width: 100%;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.link {
  color: var(--colors-interface-accent);
  text-decoration: none;
  transition: opacity 0.3s;
}

.link:hover {
  opacity: 0.8;
}
